# Ignore folder named `local` and python cache
  
local/
*/__pycache__
**/__pycache__
__pycache__/
**/*.pyc
.DS_Store
.vscode/*
.ebextension/*
.elasticbeanstalk/
db.sqlite3
media/images/
.vscode/
               
