{% extends 'base.html' %}{% block foo %}{% include 'navbar.html'%}{% endblock %}{% load user_tags %}{% load static %}
{% block title %}Hive Argus{% endblock %}{% block breadcrumb %}
<li class="breadcrumb-item active">
  <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active" >
 <a href="{% url 'argushome' %}"> Argus </a>
</li>
<li class="breadcrumb-item active">
 Title Level MAU VS Lifetime Downloads
</li>
{% endblock %}

{% block content%}
<h5 align="center">Title Level MAU VS Lifetime Downloads</h5>
<div class="table-responsive">
        <table class='table table-striped'>
            <thead>
            <tr>
              <th>Title</th>
              <th>Segment</th>
              <th>Platform</th>
              <th>Month</th>
              <th>Year</th>
              <th>MAU</th>
              <th>Lifetime Downloads</th>
              <th>Percent Difference</th>
            </tr>
          </thead>
        {% for r in table %}
        <tr>
        <td>{{ r.title }}</td>
        <td>{{ r.segment }}</td>
        <td>{{ r.platform }}</td>
        <td>{{ r.month }}</td>
        <td>{{ r.year }}</td>
        <td>{{ r.mau }}</td>
        <td>{{ r.downloads_ltd }}</td>
        <td>{{ r.mau_over_lifetime_downloads_percentage }}</td>

        </tr>
        {% endfor %}
        </table>
        </div>
{% endblock %}