{% extends 'base.html' %}
{% block foo %}
{% include 'navbar.html' %}
{% endblock %}
{% load widget_tweaks %}
{% block title %}Edit Tag{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'kb'%}">Knowledge Base</a></li>
<li class="breadcrumb-item"><a href="{% url 'faq' c.name %}">{{ c.name |capfirst }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'answer' c.name question.pk %}">{{ question.subject |capfirst |truncatechars:20 }}</a></li>
<li class="breadcrumb-item">Edit tag</li>
{% endblock %}
{% block content %}
<h3>Edit tags of "{{question.subject}} " </h3>
<br>
<div class="form-group">
<form method="POST" >
  {% csrf_token %}

        <select class="selectpicker" multiple data-live-search="true" data-width="75%" name="tags">
            {% for t in tag %}
            {% if t in existTag %}
          <option selected>{{ t.tag_name}} </option>
          {% else %}
          <option>{{ t.tag_name}} </option>
          {% endif %}
            {% endfor %}

        </select>
    </div>
    <br>
    <div class="container">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'answer' c.name question.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
      <br>
      <br>

          <a href="{% url 'create_Tag' c.name question.pk %}"> <button type="button" class="btn btn-info" >+ Create New Tag</button></a>
          <a href="{% url 'delete_Tag' c.name question.pk %}"> <button type="button" class="btn btn-danger">Delete Tag</button></a>


        </form>
          </div>

{% endblock %}