{% extends 'base.html' %}
{% block foo %}
{% include 'navbar.html' %}
{% endblock %}
{% load widget_tweaks %}
{% block title %}Edit Company{% endblock %}


{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'clientlist' %}">Data Schedule</a></li>
<li class="breadcrumb-item"><a href="{% url 'client_pages' company.orgid %}">{{ company.cname }}</a></li>
  <li class="breadcrumb-item active">Edit Company</li>
{% endblock %}

{% block content %}


<h3> Edit Company</h3>


  <form method="POST" class="mb-4" novalidate>
      {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-8">
<br>
      <div class="row">

  <div class="col-12">
      <p><label >Company Name: </label>
      {{ form.cname |add_class:'form-control' }}</p>
    </div>

</div>



  <div class="row">
    <div class="col-6">

    <p><label >Contact Person First Name: </label>
   {{ form.poc_firstname|add_class:'form-control' }}</p>
  </div>
  <div class="col-6 ">
    <p><label >Contact Person Last Name: </label>
    {{ form.poc_lastname|add_class:'form-control' }}</p>
  </div>
  </div>




    <p><label >Contact Person Email: </label>
    {{ form.poc_email |add_class:'form-control' }}</p>
    <p><label >Contract: </label>
      {{ form.contract |add_class:'form-control' }}</p>



  <div class="row">
  <div class="col">
    <p><label >Client Status: </label>
    {{ form.client_status |add_class:'form-control' }}</p>
  </div>
  <div class="col">
    <label >Arcade Status: </label>
    {{ form.arcade_access_status |add_class:'form-control' }}
  </div>
  <div class="col">
    <label >XR Status: </label>
    {{ form.xr_status |add_class:'form-control' }}
  </div>
  <div class="col">
    <label >Arcade Client ID: </label>
    {{ form.arcade_id |add_class:'form-control' }}
  </div>
  </div>




  <div class="row">
  <div class="col">
    <p><label >Custom Deliverables: </label>
    {{ form.custom_deliverables|add_class:'form-control' }}</p>
  </div>
  <div class="col">
    <label >Syndicated Reports: </label>
    {{ form.syndicated_reports|add_class:'form-control' }}
  </div>
  <div class="col">
    <label >Label: </label>

      {{ form.company_label|add_class:'form-control' }}
  </div>

  </div>


  <br>


    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'client_pages' company.orgid %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </div>
  <div class="col-4">
    <div class="card mb-3 side-card">
  <div class="card-header"><strong>Current Information</strong></div>
  <div class="card-body">

    <p class="card-text"><strong>Company Name:</strong> {{ company.cname}}</p>
    <p><strong>Contact Person: </strong>{{ company.poc_firstname }} {{ company.poc_lastname }}</p>
    <p><strong>Email:</strong> {{ company.poc_email}}</p>
    <p><strong>Client Status:</strong><strong><span class="{% if company.client_status == 'ACTIVE' %} active-color {% elif company.client_status == 'INACTIVE' %} inactive-color {% endif %}"> {{ company.client_status}}</span></strong> </p>
    <p><strong>Arcade Access Status:</strong><strong><span class="{% if company.arcade_access_status == 'ACTIVE' %} active-color {% elif company.arcade_access_status == 'INACTIVE' %} inactive-color {% endif %}"> {{ company.arcade_access_status}}</span></strong></p>
    <p><strong>XR Status:</strong><strong><span class="{% if company.xr_status == 'ACTIVE' %} active-color {% elif company.xr_status == 'INACTIVE' %} inactive-color {% endif %}"> {{ company.xr_status}}</span></strong></p>
    <p><strong>Custom Deliverables:</strong><strong><span class="{% if company.custom_deliverables == 'YES' %} active-color {% elif company.custom_deliverables == 'NO' %} inactive-color {% endif %}"> {{company.custom_deliverables}}</span></strong> </p>
    <p><strong>Syndicated Reports:</strong><strong><span class="{% if company.syndicated_reports == 'YES' %} active-color {% elif company.syndicated_reports == 'NO' %} inactive-color {% endif %}">  {{ company.syndicated_reports}}</span></strong></p>
    <p><strong>Arcade Client ID:</strong> {{ company.arcade_id }}</p>
    <p><strong>Lable</strong>: {{company.company_label.label_name|default:"None"}}</p>
  </div>
</div>
  </div>
</div>

</div>
  </form>
{% endblock %}
