{% extends 'base.html' %}{% block foo %}{% include 'navbar.html'%}{% endblock %}{% load user_tags %}{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item active">
  <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active" >
 <a href="{% url 'argushome' %}"> Argus </a>
</li>
<li class="breadcrumb-item active">
  Duplicate Market Level Genre
</li>
{% endblock %}
{% block content%}
<h5 align="center">Duplicate Market Level Genre</h5>
<div class="table-responsive">
    <table class='table table-striped'>
        <thead>
        <tr>
          <th>Segment</th>
          <th>Platform</th>
          <th>Genre</th>
          <th>Month</th>
          <th>Year</th>
          <th>Row Count</th>
        </tr>
      </thead>
    {% for r in table %}
    <tr>
    <td>{{ r.segment }}</td>
    <td>{{ r.platform }}</td>
    <td>{{ r.genre }}</td>
    <td>{{ r.MONTH }}</td>
    <td>{{ r.YEAR }}</td>
    <td>{{ r.row_count}}</td>

    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
