{% load static %}<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="google" content="notranslate">
   <meta http-equiv="Content-Language" content="en">
   <title>{% block title %}SuperData Hive{% endblock %}</title>
   <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/website.css' %}">
   <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400&display=swap" rel="stylesheet">

   <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
   <script src="https://kit.fontawesome.com/f8efacd59a.js" crossorigin="anonymous"></script>
   <script defer src="{% static 'js/homepage.js' %}"></script>

   <style type="text/css">
      a:link {
      text-decoration: none;
      }
    </style>
 </head>
 </html>
{% block foo %}
{% include 'navbar.html' %}
{% endblock %}
{% load user_tags %}
{% block breadcrumb %}

{% endblock %}


{% block content %}
<br>
<br>
<br>

<div class="home-link">
  <div class="container">
    <div class="row greeting-row">
      <div class="col-4 mb-4">
        <div class="greeting animate-pop-in">
          <p class="greetingFont"></p>
          <h1 class="greetingName">{{user.first_name|capfirst}}</h1>
        </div>
      </div>
      <div class="col-4 mt-4">
        <a href='{% url 'rekthome' %}'>
          <div class="card bg-info animate-pop-in round-corner-card">
            <div class="card-header card-box text-center">
              <h2> REKT</h2><br/>
              <p> The status page tracks Arcade uploads, uptime status of Slack, and others.</p>
            </div>
          </div>
        </a>
        <br />
      </div>
      {% if not request.user|has_group:'NLSNC' %}
      <div class="col-4 mt-4">
        <a href="{% url 'kb' %}">
          <div class="card bg-warning animate-pop-in round-corner-card">
            <div class="card-header card-box text-center">
              <h2> Knowledge Base</h2><br/>
              <p> Search and find frequently asked questions and answers.</p>
              <br>
            </div>
          </div>
        </a>
        </div>
        <div class="col-4 mt-4">
          <a href='{% url 'team_page' %}'>
            <div class="card data-log animate-pop-in round-corner-card" style="background-color: #f26a46;">
              <div class="card-header card-box">
                <h2 align="center"> Team </h2><br />

                <p>Find contacts, infos, game tags, Switch friend codes and more in the SuperData Team page. <p>
                </div>
              </div>
            </a>
          </div>
      {% endif %}

      {% if request.user|has_group:'QA' or request.user|has_group:'Tech' or request.user|has_group:'Analytics' %}
      <div class="col-4 mt-4">
        <a href='{% url 'argushome' %}'>
          <div class="card bg-danger animate-pop-in round-corner-card">
            <div class="card-header card-box">
              <h2 align="center"> Argus </h2><br />
              <p>The centralized SuperData QA Center for Automated Quality Assurance Error Detection.  </p>
            </div>
          </div>
        </a>
      </div>
      {% endif %}

      {%if request.user|has_group:'Level 3' or request.user|has_group:'Level 4' or request.user|has_group:'Level 5' %}
      <div class="col-4 mt-4">
        <a href="{% url 'clientlist' %}">
          <div class="card bg-secondary data-schedule animate-pop-in round-corner-card" >
            <div class="card-header card-box">
              <h2 align="center">Data Schedule</h2><br />
              <p> The data schedule contains client information, arcade subscription history and client interaction. <p>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
        {%if request.user|has_group:'Level 4' or request.user|has_group:'Level 5' %}
        <div class="col-4 mt-4">
          <a href='{% url 'logtable' %}'>
            <div class="card bg-secondary data-log animate-pop-in round-corner-card">
              <div class="card-header card-box">
                <h2 align="center"> Data Schedule Log </h2><br />

                <p>The log website stores changes that made by user, such as add, edit information. <p>
                </div>
              </div>
            </a>
          </div>
          {% endif %}


    <br>
</div>
</div>
<br>
{% endblock %}
